internal/databases/databaseHandler/obj/Debug/net8.0/databaseHandler.AssemblyInfo.cs
internal/databases/databaseHandler/obj/Debug/net8.0/databaseHandler.AssemblyInfo.cs
internal/databases/databaseHandler/obj/Debug/net8.0/databaseHandler.AssemblyInfo.cs
lib/Service/obj/Debug/net8.0/Service.AssemblyInfo.cs
internal/databases/databaseHandler/obj/Debug/net8.0/databaseHandler.GeneratedMSBuildEditorConfig.editorconfig
internal/databases/databaseHandler/obj/Debug/net8.0/databaseHandler.GeneratedMSBuildEditorConfig.editorconfig
lib/Service/obj/Debug/net8.0/Service.AssemblyInfo.cs
